.container {
    font-family: 'Arial', sans-serif;
    padding: 10px;
    background-color: #252525;
    color: #ffffff;
    margin: 0 auto;
    max-width: 960px;
}

.header-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sort-icon {
    /*display: inline-flex;*/
    /*padding-right: 50px;*/
    /*padding-left: 8px; !* Adjust the space to your liking *!*/
}



.table-header {
    display: grid;
    grid-template-columns: 0.5fr 2.5fr 1fr 1fr 1fr;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 10px;
    border-bottom: 2px solid #6c757d;
    margin-bottom: 10px;
    color: #adb5bd;
}

.problem-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.problem-item {
    display: grid;
    grid-template-columns: 0.5fr 2.5fr 1fr 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid #6c757d;
    padding: 15px 10px;
    transition: background-color 0.3s;
}

.problem-item:nth-child(odd) {
    background-color: #2d2f34;
}

.problem-item:hover {
    background-color: #495057;
}

.problem-name, .problem-type, .problem-difficulty, .problem-topics {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 10px;
}

.difficulty {
    font-weight: bold;
    color: #fff;
}

.difficulty.easy {
    color: #4CAF50;
}

.difficulty.medium {
    color: #FFC107;
}

.difficulty.hard {
    color: #F44336;
}

.status-icon {
    display: flex; /* Uses flexbox for alignment */
    align-items: center; /* Centers content vertically */
    justify-content: center; /* Centers content horizontally, if needed */
    margin-right: 10px; /* Adds space to the right, if in a row of elements */
    }

.type-banners {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding: 0 10px;
}

.banner {
    flex: 1 0 220px;
    max-width: 220px;
    height: 100px;
    margin: 5px;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Black outline */
}

.banner:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.1);
}

.banner.active {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.75);
}


.banner.java {
    background-image: url('../images/java.png');
}

.banner.cpp {
    background-image: url('../images/cpp.png');
}

.banner.karel {
    background-image: url('../images/img.png');
}

.topics-grid {
    display: flex;
    flex-wrap: wrap;
    background-color: #252525;
    align-items: center;
}

.topic-item {
    padding: 10px 15px;
    text-align: center;
    cursor: pointer;
    border-radius: 30px;
}

.topic-label {
    flex-grow: 1;
    margin-right: 5px;
}

.topic-count {
    background-color: #de9c45; /* Slightly lighter background for the count */
    border-radius: 15px; /* Circular shape for the count */
    padding: 5px 10px; /* Dynamic padding based on content size */
    color: white;
    display: inline-flex; /* Use inline-flex to center content */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    /*font-weight: bold; !* Optional: makes numbers bold *!*/
    min-width: 10px; /* Minimum width to maintain a circular shape for smaller numbers */
    height: 20px; /* Height adjusts automatically */
    /*aspect-ratio: 1 / 1; !* Keeps width and height equal to maintain circle shape *!*/
}


.topic-item:hover {
    color: #007bff; /* White text for contrast */

    transform: scale(1.1); /* Slightly enlarge the item on hover */
    /*transform: translateY(-3px); !* Slightly raise the item on hover *!*/
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); !* Enhance shadow on hover *!*/
}

.topic-item.selected {
    /*background-color: #007bff; !* Blue background for selected topics *!*/
    color: #007bff; /* White text for contrast */
    /*border-color: #0056b3; !* Darker blue border for selected topics *!*/
}
.controls-row {
    display: flex;
    justify-content: space-between; /* Adjust if necessary to 'flex-start' or 'center' */
    align-items: center;
    gap: 10px;
    /*padding: 10px;*/
}

.control-item {
    flex: 1; /* Ensures equal space distribution */
    box-sizing: border-box; /* Includes padding and border in the width */
}

.select-control, .text-input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    color: #000; /* Ensures text color is consistent */
    font-size: 16px;
    box-sizing: border-box; /* Critical for consistent sizing */
}

.select__control {
    cursor: pointer;
    background-color: #fff;
    border-radius: 6px;
}

.select__menu {
    background-color: #444;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.select__option {
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.select__option--is-focused, .select__option--is-selected {
    background-color: #555;
    color: #FFF;
}

.select__option:hover {
    background-color: #666;
    color: #DDD;
}

.text-input:focus {
    box-shadow: 0 0 0 2px #7289DA; /* Focus glow */
    outline: none;
}

/* Reset any margin that might affect the layout */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




