.problem-creation-container {
    width: 70%;
    margin: 15vh auto 0;
    padding: 40px;
    background: linear-gradient(135deg, #4b4848, #2e2b2b);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.problem-creation-title {
    text-align: center;
    color: #e8e8e8;
    margin-bottom: 20px;
    font-size: 2.2rem;
}

.problem-creation-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #e0e0e0;
    font-size: 1.2rem;
}

.form-control {
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    background-color: #3a3a3a;
    color: #f5f5f5;
}

.form-control:focus {
    border-color: #0056b3;
    outline: none;
}

.topic-input-container {
    display: flex;
    gap: 10px;
}

.topic-input {
    flex: 1;
}

.add-topic-button {
    padding: 12px 24px;
    background-color: #4CAF50;
    color: #ffffff;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-topic-button:hover {
    background-color: #45a049;
}

.topics-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    padding: 0;
    list-style-type: none;
}

.topics-list-item {
    display: flex;
    align-items: center;
    padding: 12px 18px;
    background-color: #4b4848;
    border-radius: 20px;
    color: #f5f5f5;
    font-size: 1rem;
    white-space: nowrap;
}

.topics-list-item::before {
    content: '\2022';
    color: #ffffff;
    font-size: 1.4rem;
    margin-right: 10px;
}

.draft-button {
    padding: 12px 24px;
    background-color: #ff8800;
    color: #ffffff;
    font-size: 1.2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: center;
    transition: background-color 0.3s ease;
}

.draft-button:hover {
    background-color: #e76e00;
}

.form-control[type="file"] {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #3a3a3a;
    color: #f5f5f5;
}

.form-control[type="file"]::file-selector-button {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.form-control[type="file"]::file-selector-button:hover {
    background-color: #45a049;
}

.form-group {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-group .view-file-button {
    padding: 6px 12px;
    font-size: 0.9rem;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.3s ease;
}

.form-group .view-file-button:hover {
    background-color: #0056b3;
}

.file-input-container {
    display: flex;
    align-items: center;
    position: relative;
}

.file-input-container .form-control {
    flex: 1;
}

.file-input-container .view-file-button {
    padding: 6px 12px;
    font-size: 0.9rem;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

.file-input-container .view-file-button:hover {
    background-color: #0056b3;
}

.code-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(73, 70, 70, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.code-popup-content {
    position: relative;
    background: #343434;
    color: #dcdcdc;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
}

.code-popup-content::-webkit-scrollbar {
    width: 8px;
}

.code-popup-content::-webkit-scrollbar-track {
    background: transparent;
}

.code-popup-content::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.code-popup-content::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.test-case-container {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    background-color: #2e2b2b;
    margin-bottom: 20px;
}

.test-case-files {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    align-items: center;
}

.file-input-container {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.add-test-case-button {
    padding: 6px 12px;
    background-color: #4caf50;
    color: #ffffff;
    font-size: 0.9rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.add-test-case-button:hover {
    background-color: #45a049;
}

.add-test-case-button:active {
    background-color: #388e3c;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.checkbox-input {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 2px solid #ddd;
    background-color: #2e2b2b;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s, border-color 0.3s;
}

.checkbox-input:checked {
    background-color: #4CAF50;
    border-color: #4CAF50;
}

.checkbox-input:checked::after {
    content: '✔';
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
}

.checkbox-label {
    margin-left: 10px;
    font-size: 1rem;
    color: #e0e0e0;
    cursor: pointer;
}

.checkbox-input:hover {
    border-color: #4CAF50;
}

.checkbox-input:focus {
    outline: none;
    border-color: #0056b3;
}

.test-case-number {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #e0e0e0;
}

.test-case-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.view-file-button {
    margin-left: 10px;
}

.delete-test-case-button {
    background-color: #f13f31;
    color: #ffffff;
    border: none;
    border-radius: 15%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    font-size: 1.2rem;
    font-weight: bold;
}

.delete-test-case-button:hover {
    background-color: #d32f2f;
}
